@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth ;
}
body{
    margin: 0px;
    width: 100%;

    font-family: 'Rubik', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://cdn.hipwallpaper.com/i/41/13/fuIGwY.jpg') center / cover no-repeat;
}
header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(251, 63, 169, 0.295);
    background: linear-gradient(90deg, rgba(251, 63, 169, 0.39) 0%, rgba(149, 39, 125, 0.363) 100%);
}

/* center_header */

.genetal_center_header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.genetal_center_header p{
    padding: 0px 20px;
}
.content_center{
    width: 100%;
    position: relative;
    margin-top: 100px;
}
.content_center h1{
    font-size: 60px;
    margin: 0px;
    font-weight: 400;
    color: #fff;
}
.content_center p{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
}
.midl_learn_more{
    background-color: #fff;
    color: rgb(184, 51, 173);
    cursor: pointer;
    border: 1px solid #fff;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

/* general main */

.general_main{
    padding: 50px 0px;
}
.content_main{
    display: flex;
    justify-content: space-around;
}
.left_main{
    width: 40%;
    text-align: left;
}
.content_right img{
    width: 600px;
    border-radius: 10px;
    height: 300px;
}
.left_main p{
    line-height: 1.7;
}

/* cards */

.top_cards{
    display: flex;
    justify-content: space-between;
}
.top_cards input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 20px;
    width: 250px;
    height: 30px;
    margin-right: 75px;
}
.general_cards{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}
.general_cards h1{
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 70px;
    font-weight: 450;
    margin: 0px;
    font-size: 35px;
}
.content_cards{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content_zag img{
    margin: 0px;
}
.content_zag h2{
    margin: 0px;
    font-size: 15px;
}
.zag_cards{
    width: 100px;
}
.card{
    cursor: pointer;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 30px 0px;
    height: 380px;
    border: 1px solid rgba(149, 39, 125, 0.144);
}
.card::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}
.card h2{
    color: #fff;
    margin: 0;
    z-index: 10;
    position: relative;
    top: 100px;
    font-size: 20px;
    font-weight: 300;
}

/* next back */

.content_buttons{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.content_buttons button{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 50px;
    height: 30px;
    outline: none;
    cursor: pointer;
}
.content_buttons span{
    margin: 0 30px;
    font-size: 20px;
}
.aroow_next{
    cursor: pointer;
}


/* media */

@media(max-width:1055px){
    .general_main{
        padding: 50px 0px;
    }
    .content_main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .left_main{
        width: 80%;
        text-align: center;
    }
    .content_right{
        margin-top: 50px;
    }
    .content_right img{
        width: 600px;
        border-radius: 10px;
        height: 300px;
    }
}

@media(max-width:630px){
    .content_right img{
        object-fit: cover;
        width: 400px;
        border-radius: 10px;
        height: 200px;
    }
    .left_main h1{
        font-size: 25px;
    }
    .left_main p{
        font-size: 13px;
    }
    .top_cards{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .top_cards h1{
        padding-left: 0;
        text-align: center;
    }
    .top_cards input{
        margin-right: 0px;
        padding-right: 0px;
        margin-top: 50px;
    }
}
@media(max-width:430px){
    .content_right img{
        object-fit: cover;
        width: 300px;
        border-radius: 10px;
        height: 150px;
    }
    .content_center h1{
        font-size: 30px;
    }
    .content_center p{
        font-size: 20px;
    }
    .content_center button{
        width: 130px;
        height: 30px;
    }
    .card{
        height: 300px;
    }
    .general_main{
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}
@media(max-width:338px){
    .content_right img{
        object-fit: cover;
        width: 250px;
        border-radius: 10px;
        height: 100px;
    }
}