@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    width: 100%;

    font-family: 'Rubik', sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://cdn.hipwallpaper.com/i/41/13/fuIGwY.jpg') center / cover no-repeat;
}
header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(251, 63, 169, 0.295);
    background: linear-gradient(90deg, rgba(251, 63, 169, 0.39) 0%, rgba(149, 39, 125, 0.363) 100%);
}
/* header */
.general_tophead{
    border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    position: relative;
    z-index: 10;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left_content_top img{
    width: 110px;
    height: 60px;
    margin-left: 10px;
}
.midle_content_top ul{
    margin: 0px;
}
.midle_content_top ul a{
    margin: 0px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}
.midle_content_top{
    margin-top: 20px;
}
.btn_header{
    margin-right: 10px;
    transition: 1s;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    margin-top: 10px;
}
.btn_header:hover{
    background-color: rgba(231, 52, 52, 0.603);
    transition: 0.3s;
}

/* center_header */

.genetal_center_header{
    display: flex;
    justify-content: center;
    text-align: center;
}
.content_center{
    width: 30%;
    position: relative;
    top: 70px;
}
.content_center h1{
    font-size: 60px;
    font-weight: 400;
    color: #fff;
}
.content_center p{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
}
.midl_learn_more{
    background-color: #fff;
    color: rgb(184, 51, 173);
    cursor: pointer;
    border: 1px solid #fff;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

/* general main */

.general_main{
    padding: 50px 0px;
}
.content_main{
    display: flex;
    justify-content: space-around;
}
.left_main{
    width: 40%;
    text-align: left;
}
.content_right img{
    width: 600px;
    border-radius: 10px;
    height: 300px;
}
.left_main p{
    line-height: 1.7;
}

/* cards */

.top_cards{
    display: flex;
    justify-content: space-between;
}
.top_cards input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 20px;
    width: 250px;
    height: 30px;
    margin-right: 75px;
}
.general_cards{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}
.general_cards h1{
    text-align: left;
    color: rgb(0, 0, 0);
    padding-left: 70px;
    font-weight: 450;
    margin: 0px;
    font-size: 35px;
}
.content_cards{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content_zag img{
    margin: 0px;
}
.content_zag h2{
    margin: 0px;
    font-size: 15px;
}
.zag_cards{
    width: 100px;
}
.card{
    cursor: pointer;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 30px 0px;
    height: 380px;
    border: 1px solid rgba(149, 39, 125, 0.144);
}
.card::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.733);
}
.card h2{
    color: #fff;
    margin: 0;
    z-index: 10;
    position: relative;
    top: 100px;
    font-size: 20px;
    font-weight: 300;
}

/* next back */

.content_buttons{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.content_buttons button{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 50px;
    height: 30px;
    outline: none;
    cursor: pointer;
}
.content_buttons span{
    margin: 0 30px;
    font-size: 20px;
}
.aroow_next{
    cursor: pointer;
}